
<h1 class="display-2 text-center mt-5">ERROR: ruta {{route}} método {{method}} no implementada</h1>
<div class="container">
  <div class="row">
    <div class="col text-center">
        <button class="btn btn-success mt-5" onclick="location.href='/'" value="carga de productos" >Volver a la carga de productos</button>       
    </div>
  </div>
</div>